<div class="container">
  <div class="title-page">
    <div class="contact-container">
      <div class="contact">
        <div class="div-padding">
          <div class="div-image-profile">
            <img class="image-profile" src="./assets/profile.png" alt="">
          </div>
          <div class="sub-title">
            <h2>Ola, prazer :)</h2>
            <h2 class="name">Maycon Gonçalves</h2>
            <div class="title-dev-label">Full Stack Developer</div><br>
            <div class="label-location-content">
              <img src="./assets/localizacao.png" alt="">
              Salvador - BA
            </div>
          </div>

        </div>

        <div class="contact-div">
          <div class="contact-1">
            <h4 class="title-dev title-dev-2">Informações de contato</h4>
          </div>
          <div style="width: 45rem;">
            <div>
              <button class="label-content-info">
                <div class="label-content-info-div">
                  <a href="https://wa.me/5571993097174">
                    <img src="./assets/whatsapp.png" alt="">
                    WhatsApp
                  </a>
                </div>
              </button>
              <button class="label-content-info">
                <div class="label-content-info-div">
                  <a href="https://github.com/Maycongs123">
                    <img src="./assets/github.png" alt="">
                    Github.com/Maycongs123
                  </a>
                </div>
              </button>
              <button class="label-content-info">
                <div class="label-content-info-div">
                  <a href="https://www.linkedin.com/in/maycongs/">
                    <img src="./assets/linkedin.png" alt="">
                    Linkedin.com.br/maycongs
                  </a>
                </div>
              </button>
            </div>
            <div class="contact-2">
              <button class="label-content-info">
                <div class="label-content-info-div">
                  <a href="">
                    <img src="./assets/email.png" alt="">
                    Gmail.com.br
                  </a>
                </div>
              </button>
              <button class="label-content-info">
                <div class="label-content-info-div">
                  <a href="https://instagram.com/immaycon">
                    <img src="./assets/instagram.png" alt="">
                    Immaycon
                  </a>
                </div>
              </button>
              <button class="label-content-contact-info">
                <div class="label-content-info-contact-div">
                  <a href="">
                    Entrar em contato
                    <img src="./assets/enviar.png" alt="">
                  </a>
                </div>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="body-page">
    <h2 class="portfolio-title">Portfolio</h2>
    <div class="main-content-card">
      <div class="project-card-main">
        <div>
          <img class="img-div" src="./assets/pokemons.png" alt="">
        </div>
        <div class="title-card">
          <div>

            <h4 class="description-title">POKEDEX </h4>
          </div>
          <div class="description-card">
            <p class="description">Este é um projeto de front-end em angular de uma Pokedex responsiva</p>
          </div>
        </div>
      </div>

      <div class="project-card-main">
        <div>
          <div class="icon-project-tech">
            <a href=""><img src="./assets/angularLogo.png" alt=""></a>
          </div>
          <img class="img-div"
            src="https://34452.cdn.simplo7.net/static/34452/sku/personagens-tecido-tricoline-microfibra-ou-gabardine-estampado-pokemon-fundo-marinho--p-1655843702549.jpg"
            alt="">
        </div>
        <div class="title-card">
          <div>

            <h4 class="description-title">POKEDEX </h4>
          </div>
          <div class="description-card">
            <p class="description">Este é um projeto de front-end em angular de uma Pokedex responsiva</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>