<div class="container">
  <div class="title-page">
    <div class="contact-container">
      <div class="contact">
        <div class="div-padding">
          <div class="div-image-profile">
            <img class="image-profile" src="./assets/luis-souza.jpg" alt="">
          </div>
          <div class="sub-title">
            <h2>Ola, prazer :)</h2>
            <h2 class="name">Luis Sousa</h2>
            <div class="title-dev-label">Engenheiro de Software</div><br>
            <div class="label-location-content">
              <img src="./assets/localizacao.png" alt="">
              Salvador - BA
            </div>
          </div>
        </div>

        <div class="contact-div">
          <div class="contact-1">
            <h4 class="title-dev-2">Informações de contato</h4>
          </div>
          <div >
            <div>
              <button class="label-content-info">
                <div class="label-content-info-div">
                  <a href="https://wa.me/5511996727868" target="_blank">
                    <img src="./assets/whatsapp.png" alt="">
                    WhatsApp
                  </a>
                </div>
              </button>
              <button class="label-content-info">
                <div class="label-content-info-div">
                  <a href="https://github.com/luissousadev" target="_blank">
                    <img src="./assets/github.png" alt="">
                    Github.com/luissousadev
                  </a>
                </div>
              </button>
              <button class="label-content-info">
                <div class="label-content-info-div">
                  <a href="https://www.linkedin.com/in/luis-sousa-2115636a/" target="_blank">
                    <img src="./assets/linkedin.png" alt="">
                    Linkedin.com.br/luis-sousa
                  </a>
                </div>
              </button>
            </div>
            <div >
              <button class="label-content-info">
                <div class="label-content-info-div">
                  <a href="">
                    <img src="./assets/email.png" alt="" target="_blank">
                    Gmail.com.br
                  </a>
                </div>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="body-page">
    <h2 class="portfolio-title">Portfolio</h2>
    <div class="main-content-card">

      <div class="project-card-main">
        <div class="title-card">
          <div>
            <table>
              <tr>
                <td>
                  <a href="https://d8ap9mxb2mioh.cloudfront.net/"><img src="./assets/angularLogo.png" alt="" height="50%" width="50%"></a>
                </td>
                <td style="padding-top: 1.5rem;">
                  <h4 class="description-title">ANGULAR POKEDEX </h4>
                </td>
              </tr>
            </table>
          </div>
          <div>
            <a href="https://d8ap9mxb2mioh.cloudfront.net/"><img class="img-div"
              src="./assets/RedPokedexRed.jpg"
              alt=""></a>
          </div>
          <div class="description-card">
            <a href="https://d8ap9mxb2mioh.cloudfront.net/"><p class="description">Este é um projeto front-end responsivo de uma PokeDex utilizando Angular como framework de desenvolvimento</p></a>
          </div>
        </div>
      </div>

      <div class="project-card-main" >
        <div class="title-card">
          <div>
            <table>
              <tr>
                <td>
                  <a href="https://d1ikkk232rralb.cloudfront.net/"><img src="./assets/ReactLogo3_2.jpg" alt="" height="50%" width="50%"></a>
                </td>
                <td style="padding-top: 1.5rem;">
                  <h4 >REACT POKEDEX </h4>
                </td>
              </tr>
            </table>
          </div>
          <div>
            <a href="https://d1ikkk232rralb.cloudfront.net/"><img class="img-div" src="./assets/BluePokeDex.jpg" alt=""></a>
          </div>
          <div class="description-card" >
            <a href="https://d1ikkk232rralb.cloudfront.net/"><p class="description">Este é um projeto front-end responsivo de uma PokeDex utilizando React como framework de desenvolvimento</p></a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
